

.dot-items {
    margin-top : 40px;
    margin-right : 5px;
    margin-left : 5px;
}

.keyword-items {
    text-align: center;
}

.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
#ul1,#ul2,#ul3,#ul4{
    display : none;
}

.keyword-items {
    display: none;
}

.keyword-items {
    width : 200px;
    height: 200px;
    background-image: url("../img/dot01.png");
    background-repeat: no-repeat;
    background-size: contain;
}




ul {
    color : black;
}
.dot-items:hover .keyword-items{ display: block; }
