@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=Do+Hyeon&family=East+Sea+Dokdo&family=Gaegu&display=swap');
@font-face {
    font-family: 'Jal_Haru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#contain {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-width: 1260px;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    z-index: 100;
    min-width: 1260px;
}

#header::before {
    content: '';
    background-color: rgba(230, 219, 219, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


#header .navbar {
position: relative;
width: 1200px;
margin: 0 auto;
}

#header .navbar p.logo {
    
    position: absolute;
    left: 0;
    top: 15px;
    font-family:'Jal_Onuel' ;
    font-size : 30px;
    padding-left : 20px;
}

#header .navbar p.logo img {
    width: 100%;
    vertical-align: top;
}

#header .navbar p.logo a {
    display: block;
    height: 24px;
}

#header .menu ul {
    padding-top : 30px;
    overflow: hidden;
    float: right;
}

#header .menu ul li {
    
    float: left;
    padding-right: 30px;
    line-height: 28px;
    font-size: 15px ;
    color: #363636;
    letter-spacing: 3px;
}

#header > div > nav > ul > li > a > span:hover {
    font-size : 20px;
    color: rgb(228, 187, 5);
}

#footer{
    clear: both;
    width: 100%;
    padding: 20px 0 60px 0;
    background: whitesmoke;
    ;
}

#footer .contact-sns {
    text-align: center;
}

#sub {
    margin: 0 auto;
    padding-top: 82px;
}

#sub-title {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: ivory
}



#sub-title .t-area {
    position: absolute;
    width: 1200px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container{
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    padding-bottom: 140px;
}


#contain .temperature {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}




#contain .temperature iframe {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}

#contain .save-file {
    width: 100%;
    text-align: center;
}



.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 140px;
}

#contain .temperature-b {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

#contain .temperature-b iframe {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}

.data-up-text {
    
    color: #363636;
    font-size : 20px;
    margin-right : 30px;
}

.data-up-btn  a > p {
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    height: 30px;
    width: 180px;
    background-color: rgb(219, 92, 70);
    margin: 15px auto;
    border: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
}


.save-file-btn > a > p {
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    height: 30px;
    width: 180px;
    background-color: rgb(219, 92, 70);
    margin: 20px auto;
    border: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
}

.data-result {
    text-align: center;
    font-size : 30px;
    color : #363636;
    padding-bottom: 30px;
}

/* #join-ocapity {
    width: 300px;
    height: auto;
    margin: 200px auto 160px auto;
    color: #363636;
    border : 1px solid black;
    padding : 3% 3% 3% 3%;
    background-color: yellow;   
} */

#join {
    width: 300px;
    height: auto;
    margin: 160px auto 160px auto;
    color: #363636;
    border : 1px solid gray;
    border-radius: 30px;
    padding : 2% 2% 2% 2%;
}

#join .input-join {
    overflow: hidden;
}

#join .join-btn > a > p {

    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    height: 38px;
    width: 100%;
    background-color: rgb(219, 92, 70);
    margin: 15px auto;
    margin-top : 70px;
    border: none;
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
} 


#join .input-join input[type=text] , #join .input-join input[type=password] {
    float: left;
    width: 100%;
    padding: 0;
    padding-left: 24px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #363636;
    margin: 8px 0 10px 0;
    box-sizing: border-box;
    border-radius: 30px;
}

#join .input-join label {
    display: block;
    clear: both;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color : gray;
}

#join .logo  {
    font-family: 'Jal_Onuel';
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}



#join > div:nth-child(2) {
    color : gray;
    text-align: center;
    margin-bottom: 18px;
    line-height: 1.5em;
}

#join .find-area {
    width: 96%;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
}



.find-area > div {
    float : left;
    width:  calc(100%/2);
    
}

.find-area .find-left {
    text-align: left;
}

.find-area .find-right {
    text-align: right;
}