/* 폰트 
	Jal_Haru (눈누)
*/

 @font-face {
     font-family: 'Jal_Haru';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }
 
 /* 홈페이지 전체에 주는 기본값 스타일 */
 
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
 }
 
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
 }
 
 body {
     font-family: 'Jal_Haru';
     background: whitesmoke;
     font-style: normal;
     font-size: 16px;
     color: hsl(0, 0%, 49%);
     letter-spacing: -0.5px;
     word-break: keep-all;
 }
 
 h1, h2, h3, h4, h5, h6 {
     margin : 0;
     padding : 0;
     font-weight: 600;
     letter-spacing: 1px;
 }
 
 ul {
     list-style : none;
 }

 a {
     text-decoration: none;
     color : black;
 }
 
 img, button, input.type-image {
     border: 0 none;
 }
 
 #contain {
     position: relative;
     width: 100%;
     overflow: hidden;
 }
 
 #header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
     border-bottom: 1px solid #ddd; 
 }

 #header .top {
     padding-top : 10px;
     padding-bottom : 5px;
     background-color: rgb(228, 228, 228);
     border-bottom: 1px solid #ddd;    
 }
 
 #header .top ul {
     display: flex;
     justify-content: flex-end;
     padding: 0 150px;
 }

 #header .top ul li {
     margin-right : 10px;
 }

 #header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding : 10px 0;
    background-color : whitesmoke;
 }

 #header .menu .logo {
     margin-left: 150px;
 }

 #header .menu .logo a {
    font-size: 40px;
}


 #header .menu .navbar {
    margin-right: 150px;
}
 
 #header .menu .navbar ul {
    display: flex;
 }
 #header .menu .navbar ul li {
     margin-right: 10px;
     margin-left : 30px;
     font-size: 20px;
 }
 
 

 #footer {
    width: 100%;
    padding: 20px 0 30px 0;
    background-color: rgb(228, 228, 228);
    text-align: center;
 }

 #footer span {
     margin-left: 5px;
 }


 
 /* home css */

 #main {
    padding : 0 150px 0 150px;
 }

 #main .main-visual {
     position: relative;
     /* transform: translate( 0, -10% ); */
 }

 #main .main-visual img {
     width: 100%;
     opacity: 0.8;
 }

 #main .main-visual .img-text {
    position: absolute;
    top : 40%;
    transform: translate( 50%, -50% );
    color: black;
    background-color: rgb(245, 191, 45);
    width: 1200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    text-shadow: 0.1em 0.1em rgb(173, 173, 173);
    box-shadow: 0.5em 0.5em rgb(219, 171, 39);
 }

 #main .main-visual .img-text p {
     margin-left: 50px;
     font-size : 30px;
 }

 #main .service {
    margin : 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }

 #main .service .service-title {
     font-size: 30px;
     color : black;
 }

 #main .service .service-box {
     display: flex;
     align-items: center;

     margin : 30px 0;    
 }

 #main .service .service-box > div {
    display: flex;
    margin : 0 20px;
    width : 220px;
    height: 150px;
    border : 1px solid black;
 }

 #main .service .service-box .service-name {
     font-size : 20px;
     color : black;
     margin : 10px 10px;
 }

 #main .service .service-box .service-text {
     font-size: 18px;
 }
 
 /* data css */
 
 #main .data {
 	margin-top : 100px;
 	margin-bottom : 30px;
 	padding-top : 50px;
 	display : flex;
 	justify-content: center;
 	align-items: center;
 }
 
 #main .data-title {
 	text-align : center;
 	color : black;
 	font-size : 20px;
 	margin-right : 15px;
 }
 
 #main .data-up {
 	display : flex;
 	flex-direction : column;
 	align-items : center;
 	justify-content : center;
 	margin-left : 15px;
 }
 
 #main .result {
 	text-align : center;
 	padding-bottom : 50px;
 }
 
 #main .result > div {
 	display : flex;
 	justify-content: center;
 	align-items: center;
 }
 
 #main .result-01 .result-title {
 	color : black;
 	margin-right : 15px;
 	margin-bottom : 20px;
 	font-size : 30px;
 }
 
  #main .result-01 .result-img  {
 	color : black;
 	margin-left : 15px;
 	margin-bottom : 20px;
 }
 
 #main .result-02 {
 	width : 100%;
 }

 #main > div.result > div.result-02 > div.temperature {
 	width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  #main > div.result > div.result-02 > div.temperature iframe {
  	width : 100%;
  	height : 500px;
  }
  #main .result-03 {
 	width : 100%;
 }
  #main > div.result > div.result-03 > div.temperature {
 	width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  #main > div.result > div.result-03 > div.temperature iframe {
  	width : 100%;
  	height : 750px;
  }
  
  #main .result .data-save {
  	text-align : center;
  	margin-top : 30px;
  }
  
    #main .result .data-save form{
    align-items : center;
    display : flex;
    font-size : 20px;
    color : black;
    }
    .save {
 	display : flex;
 	justify-content: center;
 	align-items: center;
 }
  
  #main .result .data-save input[type=text] {
  	float: left;
    padding: 0;
    height: 20px;
    width : 100px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #363636;
    margin: 0 10px 10px 0;
    box-sizing: border-box;
  }
  
   #main .result .data-save p {
    
   	margin: 0 10px 10px 0;
   }
   
 
 
 /* memory css */
 
 
 #main .relation {
 	margin-top : 90px;
 	margin-bottom : 30px;
 	padding-top : 50px;
 	display : flex;
 	justify-content: center;
 	align-items: center;
 }
 
  #main > div.result > div {
  	width : 100%;
  	height : 100%;
  }
 
  #main .relation .relation-title h2 {
   	color : black;
   	font-size : 30px;
   	letter-spacing : 3px;
   	padding-bottom : 15px;
  }
 
 #main .relation .relation-text {	
 	color : black;
 }
 
 
 /* 로그인, 회원가입*/
 
 
 #main .join {
	width: 300px;
    height: auto;
    margin: 160px auto 160px auto;
    color: #363636;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
 }
 
 #main .join .logo  {
    text-align: center;
    margin-bottom: 15px;
}
 
 
 #main .join .input-join input[type=text] , #main .join .input-join input[type=password] {
    float: left;
    width: 100%;
    padding: 0;
    padding-left: 24px;
    height: 35px;
    line-height: 40px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #363636;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    border-radius: 30px;
}


 #main .join .input-join {
    overflow: hidden;
}
 
 #main .join .input-join label {
    display: block;
    clear: both;
    font-size: 15px;
    padding-left: 10px;
    color : gray;
}

 #main .join > div:nth-child(2) {
    color : gray;
    text-align: center;
    margin-bottom: 18px;
    line-height: 1.5em;
}


 
 #main > div > div.input-join > div > a > p {

    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    height: 30px;
    width: 100%;
    background-color: rgb(219, 92, 70);
    margin: 15px auto;
    margin-top : 55px;
    border: none;
    text-align: center;
    padding-top: 12px;
    border-radius: 30px;
} 

#main .login {
	width: 300px;
    height: auto;
    margin: 160px auto 160px auto;
    color: #363636;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
}

 #main .login .logo  {
    text-align: center;
    margin-bottom: 15px;
}
 
 #main .login .input-login input[type=text] , #main .login .input-login input[type=password] {
    float: left;
    width: 100%;
    padding: 0;
    padding-left: 24px;
    height: 35px;
    line-height: 40px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #363636;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    border-radius: 30px;
}

 #main .login .input-login{
    overflow: hidden;
}

 #main .login .input-login label {
    display: block;
    clear: both;
    font-size: 15px;
    padding-left: 10px;
    color : gray;
}

 #main .login > div:nth-child(2) {
    color : gray;
    text-align: center;
    margin-bottom: 18px;
    line-height: 1.5em;
}

 #main > div > div.input-login > div > a > p {

    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 5px;
    height: 30px;
    width: 100%;
    background-color: rgb(219, 92, 70);
    margin: 15px auto;
    margin-top : 55px;
    border: none;
    text-align: center;
    padding-top: 12px;
    border-radius: 30px;
} 


#login .find-area {
    width: 96%;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
}



.find-area > div {
    float : left;
    width:  calc(100%/2);
    
}

.find-area .find-left {
    text-align: left;
}

.find-area .find-right {
    text-align: right;
}



/* dictionary css */ 
 
 #main .ditionary {
 	margin-top : 100px;
 	padding : 40px 0px ;
 	text-align : center;
 	color : black;
 	position : relative;
 }
 
 #main .ditionary .dictionary-text {
 	font-size : 20px;
 	margin-bottom : 20px;
 }
 
  #main .ditionary .dictionary-title {
 	font-size : 25px;
 	margin-bottom : 20px;
 }
 
 #main .ditionary .dictionary-list {
 	margin : 30px auto;
 } 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

